.add-run-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-run-button {
  width: 351px;
  height: 123px;
  background-color: transparent;
  border-radius: 20px;
  border: 4px solid #4444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.add-run-plus {
  color: #f97316;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  transition: transform 0.3s ease;
}


.add-run-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
}