:root{
  --bg:#1f1f1f;
  --panel:#262626;
  --text:#f5f5f5;
  --muted:#9aa0a6;
  --accent:#ccff00;
}

.calendar {
  background-color: #262626;
  color: white;
  border-radius: 0 0 14px 14px;
  padding: 14px 12px 8px;
  width: 100%;
  max-width: 370px;
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 100;
  transition: padding 0.4s ease;
}

.calendar.collapsed {
  padding-bottom: 14px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-title {
  text-align: center;
  flex: 1;
}

.calendar-week {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.calendar-range {
  font-size: 12px;
  color: #9aa0a6;
  letter-spacing: 0.12em;
}

.calendar-arrow {
  width: 80px;
  height: 40px;
  background: transparent;
  color: #ccff00;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
}


.calendar-arrow:focus {
  outline: none;
  color: #ccff00;
}

.calendar-days-container {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.calendar-days-container.expanded {
  max-height: 100px;
  opacity: 1;
}

.calendar-days-container.collapsed {
  max-height: 0;
  opacity: 0;
}

.calendar-days {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 6px 4px 2px;
  
}

.calendar-days:hover {
  transform: translateY(-2px);
}

.calendar-day-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid #ccff00;
  color: white;
  border-radius: 999px;
  padding: 8px;
  cursor: pointer;
}

.calendar-day:focus {
  outline: none; 
}


.day-letter {
  font-weight: bold;
  font-size: 1rem;
}

.day-date {
  font-size: 0.65rem;
  color: #9aa0a6;
  letter-spacing: 0.05em;
  text-align: center;
}

.day-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff7043;
  display: block;
}

.calendar-day.selected {
  background-color: #ccff00;
  color: black;
  border-color: #ccff00
}

.calendar-day.selected + .day-date {
  color: #ccff00;
  font-weight: bold;
}

.calendar-day.selected .day-dot {
  background-color: black;
}

.calendar-toggle {
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  0 auto;
  padding: 0;
  padding-top: 30px;
  border-radius:  14px 14px 0 0;
}

.toggle-line {
  width: 40px;
  height: 4px;
  background-color: #ccff00;
  border-radius: 2px;
  transition: transform 0.3s ease;
}


.calendar-toggle:focus {
  outline: none;
}