:root {
    background-image: none ;
    background-color: black;

}
.dashboard {
  min-height: 100vh;
  padding: 1rem 1rem 1rem;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
  gap: 1.5rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}