:root {
    background-image: none ;
}
.dashboard {
  padding: 20px;
  min-height: 100vh;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
  gap: 1.5rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}