.event-card {
  border-radius: 12px;
  overflow: hidden;
  position: center;
  width: 100%;
}

.event-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  box-shadow: 0 8px 16px -4px rgba(254, 88, 42, 0.4);
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.event-date {
  width: 37px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #D9D9D9;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.event-month {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.8;
  line-height: 1;
}

.event-day {
  display: block;
  font-size: 18px;
  line-height: 1;
}


.join-button {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 13px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.event-info {
  padding: 8px;
}

.event-info h3 {
  margin: 8px 0 4px;
  font-size: 14px;
  font-weight: bold;
}

.event-info p {
  color: #d9d9d9d0;
  font-size: 0.9rem;
  margin: 2px 0;
}



.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 5.5rem;
}