.event-card {
  border-radius: 12px;
  overflow: hidden;
  position: center;
  max-width: 300px;
}

.event-image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #D9D9D9;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
}

.event-month {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
}

.event-day {
  display: block;
  font-size: 1.2rem;
}


.join-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  color: #D9D9D9;
  border: 2px solid #D9D9D9;
  font-weight: bold;
}


.event-info {
  padding: 8px;
}

.event-info h3 {
  margin: 8px 0 4px;
  font-size: 1.1rem;
  font-weight: bold;
}

.event-info p {
  color: #555;
  font-size: 0.9rem;
  margin: 2px 0;
}

.dashboard {
  min-height: 100vh;
  padding: 2rem;
}

.dashboard-container {
  max-width: 700px;
  margin: 0 auto;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}