.filter-container {
  display: flex;
  gap: 15px;
}

.filter-btn {
  height: 41px;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.filter-btn.active {
  background-color: #d4ff00;
  color: #000;
  border-color: #d4ff00;
}


.filter-icon-btn {
  padding: 10px 15px;
  border: 2px solid #d4ff00;
  border-radius: 50%;
  background-color: transparent;
  color: #d4ff00;
  font-size: 18px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}



.icon {
  display: block;
}