.login-container {
  max-width: 360px;
  margin: 40px auto;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Add this line */
}

.login-container .error-message {
  color: crimson;
  margin: 8px 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 36px;
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 60px; /* Make space for the "Show"/"Hide" text */
}


.password-toggle {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  color: #888;
  user-select: none; /* Prevents text selection on double-click */
}

.login-container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-container .signup-link {
  margin-top: 12px;
}

.social-login {
  text-align: center;
  margin-top: 24px;
  color: #666;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.signup-link {
  display: block;       
  width: 100%;
  text-align: right;    
  margin-top: 8px;
}


