.body {
    overflow: hidden;
    }

.not-found-container {
    text-align: center;
    color: white;
    }

.number-404 {
    text-align: center;
    font-size: 144px;
    font-weight: bold;
    color: #DAFF00;
    margin-top: 170px;
    }
